:root{
    --sidebar-width:240px;
    --height:64px;
    --clr:white;
    --sid-height-r-width:100%;
    --fnt-siz:20px;
    --hvr-clr: #ff3e3e;
    --crnt-pge-clr:chartreuse;
    /* --tst: 10%; */
}
body{
    margin:0;
    padding:0;
}
/* #main-sidebar *,    recent alter*/
.sidebar  *{
    margin: 0;
    padding:0;
    text-decoration: none;
}
 

.sidebar header{
    color: var(--clr); /*white*/
    height: calc(var(--height)*1.6); /*64px*/
    font-size:calc(var(--fnt-siz)*2);
    line-height:calc(var(--height)*1.6);
    border-bottom: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Ubuntu', sans-serif; 
    /* padding-left:calc(var(--height)/2); */
    /* line-height:100px; */
    /* font-size:var(--height); */
}
.sidebar{  
    left:calc(-1*(var(--sidebar-width)));
    background-color:  #1b1b1b;
    position: fixed;
    width:240px;
    overflow-y: scroll;
    box-sizing: border-box;
    height:var(--sid-height-r-width); /*100%*/
    z-index: 10;
}
.sidebar a{
    display:block;
    width:var(--sid-height-r-width); /*100%*/
    height:var(--height); /*64px*/
    line-height: var(--height); /*64px*/
    padding-left: calc(var(--height)/2); /*32px*/
    color:var(--clr);         /*white*/
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid black;
    font-size: calc(var(--fnt-siz));
    font-weight: bold;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.sidebar a:active,.sidebar a:hover{
    color:var(--hvr-clr);
    box-sizing: border-box;
    border-left:4px solid var(--hvr-clr);
    background-color:  #fdfdfd15;
     /* border-bottom:2px solid #ff3e3e;*/
}
#contac  .active{
    border-left: 4px solid var(--crnt-pge-clr);      
}



.sidebar a span{
    letter-spacing: 2px;
    text-transform: uppercase;
}
#main-sidebar label #btn:hover,#main-sidebar label #cncl:hover{
    color: var(--hvr-clr);
}
#main-sidebar #check{
    display: none;
}
#main-sidebar label #btn,#main-sidebar label #cncl{
    position: fixed;
    background-color :#262626;
    color:white;
    border:1px solid  #262626;
    margin: 15px 30px;
    font-size:29px;
    cursor: pointer;
    border-radius:5px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    z-index: 10;           /*because it keeps btn in front of div and other cont*/
    text-align :center;
}
#main-sidebar label #cncl{
    opacity:0;
    visibility:hidden;
}
#check:checked ~ .sidebar{
    left:0;
}
#check:checked ~label #btn{
    visibility: hidden;
}
#check:checked ~ label #cncl{
    opacity:1;
    visibility: visible;
    margin-left:245px;
    /* var(--tst):600px; */
} 

#check:checked ~ section{
    margin:240px;
  
}
/* #check:checked  .main-content{ 
    margin-left: 240px;
} */


body{
    display: flex;
}
/* .main-content{
    flex:1;
} */
/* #outer-sidebar-box{
    flex: 1;
}
.sidebar{
    flex:10;

} */

#outer-sidebar-box{
    /* flex:1; */

    text-align: left;
    box-sizing: border-box;  /*altering*/
    padding-left: 4px;
    width:54px;
    background-color: #262626;
}




/* #main-sidebar{
    box-sizing: border-box;
    padding-left: 4px;
    width:54px;
    background-color: #262626;
    /* display:block; */
    /* margin: auto; *//*
} */
.main-content{
    padding:20px;
    flex: 1;
}
#main-sidebar label #btn{
    margin:0;
}
@media(max-width:800px){
    #outer-sidebar-box{
        box-sizing: border-box;
        padding-left: 1px;
        width:0;
        background-color:rgba(255,255,255,.0);
        
        /* display:block; */
        /* margin: auto; */
    }
    /* .sidebar{  
        left:calc(-1*(var(--sidebar-width)));
        background-color:  #1b1b1b;
        position: fixed;
        width:260px;
        overflow-y: scroll;
        box-sizing: border-box;
        height:var(--sid-height-r-width); /*100%*/
        /*z-index: 10;
    } */
    #outer-sidebar-box label #btn,#outer-sidebar-box label #cncl{
        position: fixed;
        background-color :#262626;
        color:white;
        border:1px solid  #262626;
        margin: 10px 3px;
        font-size:45px;
        cursor: pointer;
        border-radius:5px;
        height: 50px;
        width: 50px;
 
        line-height: 50px;
        text-align :center;
    }
    .main-content{
        margin:30px;
    }
    #outer-sidebar-box label #btn{
        height: 50px;
        width: 50px;
        font-size:40px;
        line-height: 50px;
        text-align :center;
    }
}
:root{
    /*Text area ,input*/ 
    --wid:100%;
    --pad:12px;
    --brd-clr:rgb(177, 177, 177);
    /*Submit*/
    --sub-bg-clr:rgb(0, 23, 82);
    --sub-bord-clr:black;
    --sub-clr:white;
}

.main-content *{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    overflow: none;
  
}

input[type=text],input[type=email],select,#country,textarea{
    width:var( --wid);
    padding: var(--pad);
    border: 1px solid var(--brd-clr);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#submt{
    padding:3px;
    margin:0 44%;
    width:80px;
    height:40px;
    font-size: 20px;
    color:var(--sub-clr);
    background-color: var(--sub-bg-clr);
    border:2px solid var(--sub-bord-clr);
    border-radius:5px;
}
#submt:hover{
    background-color:rgba(8, 0, 121, 0.452);
}
.main-content{
    border-radius: 5px;
    color:#9d00ff ;
    background-color: rgba(198, 235, 255, 0.76);
    padding:20px; 
    width:100%;
    height:100%;
    margin: 0 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family:  Arial, Helvetica, sans-serif;
}
.column{
    background-color: rgba(0, 0, 0, 0.171);
    border-radius: 5px;
    margin:10px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}
.row{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* #inpt-col{
    flex:1;
}
#img-col{
    flex:1;
} */
.row .column{
    height:600px;
    width:1000px;
    margin-top: 6px;
    padding: 20px;
}
/* .row:after{
    content:"";
    display:table;
    clear:both;
} */
/*Below two i done auutomatically and we can skip media cause flex takes
 as image takes 100 percent it expands as div expands so media is set*/
/* .main-content .column{
    width:400px;
    height:600px;
} */
/* .column  img{
    width:400px;
    height:400px;
} */
.column  img{
    width:100%;
    height:100%;
}
#cnt-us{
    text-align:center;
}
/* #img-col{
    overflow-y: hidden;
    overflow-x: hidden;
} */
@media(min-width:800px){
    #img-col{
      flex:1;
    }
    #inpt-col{
      flex:1;
    }
}